<app-header></app-header>
<app-add-task></app-add-task>
<!-- <div class="container">
  <form id="myForm">
    <mat-form-field appearance="fill">
      <mat-label>Employees</mat-label>
      <mat-select>
        <mat-option value="two" *ngFor="let employee of employees">{{
          employee
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Task</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose due date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Assign Task</button>
    <button routerLink="/users" type="button" mat-raised-button color="accent">
      View Tasks
    </button>
  </form>
</div> -->
