<!--TOp-->
<div class="custom-shape-divider-top-1636437379">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>

<!--Content-->
<div class="outer-div">
  <div class="container">
    <div class="row row1"><h1 id="title">Panel</h1></div>

    <div class="row row2">
      <div class="panel panel-admin">
        <a href="admin"><mat-icon>account_circle</mat-icon></a>
        <p>Project Manager</p>
      </div>
      <div class="panel panel-user">
        <a href="users"><mat-icon>face</mat-icon></a>
        <p>Employee</p>
      </div>
    </div>
  </div>
</div>

<!--BOT-->
<div class="wave">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"
    ></path>
  </svg>
</div>
